*.as linguist-vendored text working-tree-encoding=UTF-8 eol=crlf
*.hsp text working-tree-encoding=UTF-8 eol=crlf
*.md text working-tree-encoding=UTF-8 eol=crlf
*.json text working-tree-encoding=UTF-8 eol=crlf
